.com{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
*{
  box-sizing: border-box;
}
#root{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.bg{
  margin-top: 5px;
  background-color: rgb(91, 129, 129);
  width: 228px;
  height: 250px;
  
}
.imagc,.cen{
  display: flex;
  justify-content: center;
}
.image{
  height: 100px;
  width: 100px;
  margin-top:0px;
  border: 2px solid rgb(231, 205, 205);
  border-radius: 50%;
  
}

 

.list{
  margin-bottom: 0px;
  background-color: rgb(17, 124, 124); 
  text-align: left; 
  padding-bottom:10px ;
  
 
}
.button{
  display: flex;
  justify-content: center;
  gap:10px
  
}
.btns{
  background-color: rgb(9, 226, 100);
}
.listitems{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display:flex;
  flex-wrap: wrap;
}
.listitems li{
   border: 1px solid rgb(39, 146, 150);
   margin: 0px 2px 0px 4px  ;
   border-radius: 5%;
   
}  
 



