#root{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.head{
    color: rgb(76, 173, 160);
    text-size-adjust: 50px;
}
.lable{
    color: aquamarine;
    font-size:larger;
    font-weight: 500;
}
.container{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    border:2px solid black ;
}
.input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
image{
    margin-left: 50px;
}